/* Variables */
/* 
https://oklch-palette.vercel.app/#53.67,0.257,262.51,100 
https://oklch.com/#53.67,0.257,262.51,100
*/
:root {
  --color-50: oklch(97.89% 0.01 267.36);
  --color-100: oklch(93.51% 0.031 263.52);
  --color-200: oklch(79.69% 0.102 262.19);
  --color-300: oklch(71% 0.151 262.38);
  --color-400: oklch(62.26% 0.203 262.51);
  --color-500: oklch(53.67% 0.257 262.51);
  --color-600: oklch(47.18% 0.226 262.46);
  --color-700: oklch(38.31% 0.185 262.52);
  --color-800: oklch(29.19% 0.141 262.52);
  --color-900: oklch(20.92% 0.101 262.51);

  --layout-space-xxs: .25rem;
  --layout-space-xs: .5rem;
  --layout-space-sm: 1rem;
  --layout-space-md: 2rem;
  --layout-space-lg: 4rem;
}

@supports not (background-color: oklch(0%, 0, 0)) {
  :root {
    // --color-50: #f0f5ff;
    --color-50: #f5f8ff;
    // --color-100: #c5d9ff;
    --color-100: #dfeaff;
    --color-200: #99bdff;
    --color-300: #6d9fff;
    --color-400: #3f7eff;
    --color-500: #0157ff;
    --color-600: #0048d7;
    --color-700: #0034a3;
    --color-800: #002170;
    --color-900: #001145;
  }
}


// ----- Base styles -----

body {
  font-family: 'Work Sans', system-ui, sans-serif;
  font-size: 1rem;
  color: var(--color-700);
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6, pre, code {
  font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1, h2, h3 {
  letter-spacing: -.025em;
}

h1, h2 {
  font-weight: 600;
}

h1 { font-size: 2.5rem; font-size: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem); }
h2 { font-size: 2rem; font-size: clamp(1.5rem, 1.0229rem + 2.0356vw, 2rem); }
h3 { font-size: 1.5rem; font-size: clamp(1.25rem, 1.0115rem + 1.0178vw, 1.5rem); }
h4 { font-size: 1.25rem; font-size: clamp(1.125rem, 1.0057rem + 0.5089vw, 1.25rem); }
h5 { font-size: 1rem; }
h6 { font-size: 1rem; }

p {

}

a {
  color: var(--color-500);
  // text-decoration: none;
  transition: color 0.3s;

  &:hover, &:focus {
    color: var(--color-700);
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}



// ----- Layout -----
.fullwidth {
  --layout-space: var(--layout-space-md);
  padding-block: var(--layout-space);
}

.fullwidth--sm {
  --layout-space: var(--layout-space-sm);
}

  .container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding-inline: var(--layout-space-sm);
  }


  .flow > * + * {
    margin-block-start: var(--flow-space, 1.5rem);
  }

  // Large gap before headings
  .flow :is(h2, h3, h4) {
    --flow-space: var(--layout-space-lg);
  }

  // Medium gap is a heading follows a heading
  .flow :is(h2 + h3, h3 + h4) {
    --flow-space: var(--layout-space-md);
  }

  // Small gap directly after heading
  .flow :is(h2 + *, h3 + *, h4 + *) {
    --flow-space: var(--layout-space-sm);
  }

  .group {
    display: flex;
    gap: var(--layout-space-md);

    > * > *:first-child {
      &, & > *:first-child {
        min-width: 144px;
        text-align: center;
      }
    }
  }



// ----- Header and footer -----
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  color: #fff;
  background-color: var(--color-500);
  border-bottom: 1px solid #fff;

  .container {
    display: flex;
    gap: var(--layout-space-sm);
    
    @media (max-width: 767px) {
      flex-flow: column;
    }

    @media (min-width: 768px) {
      align-items: center;
    }
  }

}

  .logo-text {
    margin: 0;
    color: #fff;
  }

  .header-links {
    display: flex;
    gap: var(--layout-space-sm);

    .btn {
      @media (max-width: 575px) {
        width: 50%;
        --padding-block: var(--layout-space-xxs);
      } 
    } 

    @media (min-width: 768px) {
      margin-left: auto;
    }
  }


.footer {
  text-align: center;
}


// ----- Buttons -----
.btn {
  --padding-inline: var(--layout-space-sm);
  --padding-block: var(--layout-space-xs);

  --text-color: #fff;
  --bg-color: var(--color-500);
  --border-color: var(--color-500);
  --border-size: 1px;

  --text-color-hover: #fff;
  --bg-color-hover: var(--color-700);
  --border-color-hover: var(--color-700);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-block) var(--padding-inline);
  border: var(--border-size) solid var(--border-color);
  background-color: var(--bg-color);
  transition: all .25s;

  color: var(--text-color);
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  &:is(:hover, :focus, .is-active), a:hover & {
    color: var(--text-color-hover);
    background-color: var(--bg-color-hover);
    border-color: var(--border-color-hover);
  }
}

.btn--white-outline {
  --text-color: #fff;
  --bg-color: transparent;
  --border-color: #fff;

  --text-color-hover: var(--color-700);
  --bg-color-hover: #fff;
  --border-color-hover: #fff;
}


// ----- Tables and code
// https://daverupert.com/2023/08/animation-timeline-scroll-shadows/
// https://www.bram.us/2023/09/16/solved-by-css-scroll-driven-animations-detect-if-an-element-can-scroll-or-not/
.table-outer, pre code {
  animation: scroll-shadow-inset linear;
  scroll-timeline: --scroll-timeline inline;
  animation-timeline: --scroll-timeline;
  // animation-timeline: scroll(self inline);

  overflow-x: auto;
  overflow-inline: auto;
  border: 1px solid var(--color-500);
}

@keyframes scroll-shadow-inset {
  from {
    box-shadow: inset -16px 0px 8px -8px rgb(0 0 0 / .15);
  }  
  40%, 60% {
    box-shadow: inset 0 0px 8px -8px rgb(0 0 0 / .15), inset 8px 0px 8px -8px rgba(0, 0, 0, .15), inset -8px 0px 8px -8px rgba(0, 0, 0, .15);
  }
  to {
    box-shadow: inset 16px 0px 8px -8px rgb(0 0 0 / .15);
  }
}

code {
  padding: .125rem;
  background-color: var(--color-50);

  pre & {
    display: block;
    padding: 1rem;
    white-space: pre;
  }
}

.table-outer {
  display: block;
  width: 100%;
  border-inline: 2px solid var(--color-500);

  code {
    position: relative;
    z-index: -1;
  }
}

  .table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: .5rem;
      text-align: left;
      vertical-align: top;
      border: 1px solid var(--color-500);

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }    
    }

    th {
      background-color: var(--color-100);
    }
  }


// ----- Utilities -----
.d-none {
  display: none !important;
}

.m-0 {
  margin: 0 !important;
} 
