/* https://www.joshwcomeau.com/css/custom-css-reset/, https://andy-bell.co.uk/a-more-modern-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  min-height: 100vh;
}
img, picture, video, canvas, svg { 
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
}
/* Opinionated */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.2;
}
h1, h2, h3, h4 {
  text-wrap: balance;
}
/* https://oklch-palette.vercel.app/#53.67,0.257,262.51,100, https://oklch.com/#53.67,0.257,262.51,100 */
:root {
  /* Colours */
  --color-50: rgb(245, 248, 255);
  --color-100: rgb(223, 234, 255);
  --color-200: rgb(153, 189, 255);
  --color-300: rgb(109, 159, 255);
  --color-400: rgb(63, 126, 255);
  --color-500: rgb(1, 87, 255);
  --color-600: rgb(0, 72, 215);
  --color-700: rgb(0, 52, 163);
  --color-800: rgb(0, 33, 112);
  --color-900: rgb(0, 17, 69);

  --color-accent-500: rgb(40, 209, 180);
  --color-accent-700: rgb(1, 119, 101);
  
  /* Type */
  --sans-serif-font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Arial, sans-serif;
  --serif-font-family: 'Times New Roman', Times, serif;
  --body-font-family: 'Work Sans', var(--sans-serif-font-family);
  --heading-font-family: 'Source Code Pro', var(--sans-serif-font-family);

  --text-color: var(--color-700);
  --link-color: var(--color-500);
  --link-color-hover: var(--color-700);

  /* Layout */
  --layout-breakpoint-xs: 0;
  --layout-breakpoint-sm: 576px;
  --layout-breakpoint-md: 768px;
  --layout-breakpoint-lg: 992px;
  --layout-breakpoint-xl: 1200px;
  --layout-breakpoint-xxl: 1400px;

  --layout-gutter-inline: 16px;
  --layout-gutter-block: 0px;

  --layout-space-xxs: 4px;
  --layout-space-xs: 8px;
  --layout-space-sm: 16px;
  --layout-space-md: 32px;
  --layout-space-lg: 48px;
  --layout-space-xl: 64px;
  --layout-space-xxl: 80px;

  --ease-out-cubic: cubic-bezier(.215, .610, .355, 1);
  --ease-in-out-cubic: cubic-bezier(.65, .05, .36, 1);

  --bg-grid-color: rgba(238, 238, 238, .75);
  --bg-grid-line: 2px;
  --bg-grid-box: 48px;
}
@supports (color: color(display-p3 0 0 0)) {
:root {
  --color-50: color(display-p3 0.96281 0.97222 0.99781);
  --color-100: color(display-p3 0.8822 0.91623 0.99269);
  --color-300: color(display-p3 0.46998 0.61827 0.97252);
  --color-700: color(display-p3 0.07062 0.20014 0.6152);
  --color-800: color(display-p3 0.03454 0.12659 0.42217);
  --color-900: color(display-p3 0.01272 0.0648 0.25957);
}
}
@supports not (background-color: oklch(0%, 0, 0)) {
  :root {
    /* --color-50: #f0f5ff; */
    --color-50: #f5f8ff;
    /* --color-100: #c5d9ff; */
    --color-100: #dfeaff;
    --color-200: #99bdff;
    --color-300: #6d9fff;
    --color-400: #3f7eff;
    --color-500: #0157ff;
    --color-600: #0048d7;
    --color-700: #0034a3;
    --color-800: #002170;
    --color-900: #001145;

    --color-accent-500: #28d1b4;
    --color-accent-700: #007765;
  }
}
/* Custom media queries */
/* Type and background */
body {
  font-family: 'Work Sans', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Arial, sans-serif;
  font-family: var(--body-font-family);
  color: rgb(0, 52, 163);
  color: color(display-p3 0.07062 0.20014 0.6152);
  color: var(--color-700);
  background-color: #fff;
  background-image: repeating-linear-gradient(90deg, rgba(238, 238, 238, .75) 0, rgba(238, 238, 238, .75) 2px, transparent 0, transparent 50%), repeating-linear-gradient(180deg, rgba(238, 238, 238, .75) 0, rgba(238, 238, 238, .75) 2px, transparent 0, transparent 50%);
  background-image: repeating-linear-gradient(90deg, var(--bg-grid-color) 0, var(--bg-grid-color) var(--bg-grid-line), transparent 0, transparent 50%), repeating-linear-gradient(180deg, var(--bg-grid-color) 0, var(--bg-grid-color) var(--bg-grid-line), transparent 0, transparent 50%);
  background-size: 48px 48px;
  background-size: var(--bg-grid-box) var(--bg-grid-box);
  background-position: calc(50% - (2px/2)) top;
  background-position: calc(50% - (var(--bg-grid-line)/2)) top;
}
.content {
    background-color: #fff;
    border-left: calc(2px/2) solid rgba(238, 238, 238, .75);
    border-right: calc(2px/2) solid rgba(238, 238, 238, .75);
    border-left: calc(var(--bg-grid-line)/2) solid var(--bg-grid-color);
    border-right: calc(var(--bg-grid-line)/2) solid var(--bg-grid-color);
  }
::-moz-selection {
  color: #fff;
  background-color: rgb(0, 52, 163);
  background-color: color(display-p3 0.07062 0.20014 0.6152);
  background-color: var(--color-700);
}
::selection {
  color: #fff;
  background-color: rgb(0, 52, 163);
  background-color: color(display-p3 0.07062 0.20014 0.6152);
  background-color: var(--color-700);
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Source Code Pro', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Arial, sans-serif;
  font-family: var(--heading-font-family);
  font-weight: 400;
  word-spacing: -.5ch;
}
h1, h2, h3 {
  letter-spacing: -.025em;
}
h1, h2 {
  font-weight: 600;
}
/* Clamp from 375 - 768px */
h1 { font-size: 3rem; font-size: clamp(2.5rem, 2.0229rem + 2.0356vw, 3rem); }
h2 { font-size: 2rem; font-size: clamp(1.5rem, 1.0229rem + 2.0356vw, 2rem); }
h3 { font-size: 1.5rem; font-size: clamp(1.25rem, 1.0115rem + 1.0178vw, 1.5rem); }
h4 { font-size: 1.25rem; font-size: clamp(1.125rem, 1.0057rem + 0.5089vw, 1.25rem); }
h5 { font-size: 1rem; }
h6 { font-size: 1rem; }
p {

}
ul, ol {
  padding-left: 16px;
  padding-left: var(--layout-space-sm);
}
pre, code {
  font-family: 'Source Code Pro', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Arial, sans-serif;
  font-family: var(--heading-font-family);
}
a {
  color: rgb(1, 87, 255);
  color: var(--link-color);
  transition: color 0.3s;
}
a:hover, a:focus {
    color: rgb(0, 52, 163);
    color: color(display-p3 0.07062 0.20014 0.6152);
    color: var(--link-color-hover);
  }
a:focus-within {
    outline: 2px solid rgb(1, 87, 255);
    outline: 2px solid var(--link-color);
  }
/* Elements and utilities */
.img-fluid {
  max-width: 100%;
  height: auto;
}
.w-100 {
  width: 100%;
}
code {
  padding: .125rem;
  background-color: rgb(245, 248, 255);
  background-color: color(display-p3 0.96281 0.97222 0.99781);
  background-color: var(--color-50);
}
pre code {
    display: block;
    padding: 1rem;
    white-space: pre;
    overflow: auto;
    border: 1px solid rgb(1, 87, 255);
    border: 1px solid var(--color-500);
  }
.table-outer {
  display: block;
  width: 100%;
}
.table {
    width: 100%;
    border-collapse: collapse;
  }
.table th, .table td {
      padding: 16px;
      padding: var(--layout-space-sm);
      text-align: left;
      vertical-align: top;
      border: 1px solid rgb(1, 87, 255);
      border: 1px solid var(--color-500);   
    }
.table th {
      background-color: rgb(223, 234, 255);
      background-color: color(display-p3 0.8822 0.91623 0.99269);
      background-color: var(--color-100);
    }
/* Inline overflow elements */
/* https://daverupert.com/2023/08/animation-timeline-scroll-shadows/, https://www.bram.us/2023/09/16/solved-by-css-scroll-driven-animations-detect-if-an-element-can-scroll-or-not/  */
.overflow-inline {
  --shadow-color: rgba(0, 0, 0, .15);
  --shadow-size: 8px;

  animation: scroll-shadow-inset linear;
  scroll-timeline: --scroll-timeline inline;
  animation-timeline: --scroll-timeline;

  overflow-x: auto;
  overflow-inline: auto;
  border: 1px solid rgb(1, 87, 255);
  border: 1px solid var(--color-500);
}
.overflow-inline > * {
    mix-blend-mode: multiply;
  }
.overflow-inline.table-outer {
    border-left: 2px solid rgb(1, 87, 255);
    border-right: 2px solid rgb(1, 87, 255);
    border-left: 2px solid oklch(53.67% 0.257 262.51);
    border-left: 2px solid var(--color-500);
    border-right: 2px solid oklch(53.67% 0.257 262.51);
    border-right: 2px solid var(--color-500);
  }
.overflow-inline.table-outer th:first-child, .overflow-inline.table-outer td:first-child {
        border-left: none;
      }
.overflow-inline.table-outer th:last-child, .overflow-inline.table-outer td:last-child {
        border-right: none;
      }
/* Negative spread to stop the shadow on the top and bottom of the element */
@keyframes scroll-shadow-inset {
  from {
    box-shadow: inset calc(var(--shadow-size) * -2) 0 var(--shadow-size) calc(var(--shadow-size) * -.5) var(--shadow-color), inset calc(var(--shadow-size) * 0) 0 var(--shadow-size) calc(var(--shadow-size) * -.5) var(--shadow-color);
  }  
  10%, 90% {
    box-shadow: inset calc(var(--shadow-size) * -1) 0 var(--shadow-size) calc(var(--shadow-size) * -.5) var(--shadow-color), inset calc(var(--shadow-size) * 1) 0 var(--shadow-size) calc(var(--shadow-size) * -.5) var(--shadow-color);
  }
  to {
    box-shadow: inset calc(var(--shadow-size) * 0) 0 var(--shadow-size) calc(var(--shadow-size) * -.5) var(--shadow-color), inset calc(var(--shadow-size) * 2) 0 var(--shadow-size) calc(var(--shadow-size) * -.5) var(--shadow-color);
  }
}
/* Spacing of components */
.space, .fullwidth {
  --layout-space: var(--layout-space-md);
}
.group, .nav {
  --layout-space: var(--layout-space-sm);
}
.space--zero {
  --layout-space: var(--layout-space-md);
}
.space--xxs {
  --layout-space: var(--layout-space-xxs);
}
.space--xs {
  --layout-space: var(--layout-space-xs);
}
.space--sm {
  --layout-space: var(--layout-space-sm);
}
.space--md {
  --layout-space: var(--layout-space-md);
}
.space--lg {
  --layout-space: var(--layout-space-lg);
}
.space--xl {
  --layout-space: var(--layout-space-xl);
}
.space--xxl {
  --layout-space: var(--layout-space-xxl);
}
.space {
  padding: var(--layout-space);
}
.fullwidth > .container {
  padding-top: var(--layout-space);
  padding-bottom: var(--layout-space);
}
.space--block {
  padding-left: 0;
  padding-right: 0;
}
.space--inline {
  padding-top: 0;
  padding-bottom: 0;
}
/* Fullwidth */
.fullwidth {

}
@media (min-width: 576px) {
.main {
    padding-left: 16px;
    padding-right: 16px;
    padding-left: var(--layout-gutter-inline);
    padding-right: var(--layout-gutter-inline);
}
  }
.container {
    /* max-width: var(--layout-breakpoint-xl); */
    max-width: 768px;
    max-width: var(--layout-breakpoint-md);
    padding-left: 16px;
    padding-right: 16px;
    padding-left: var(--layout-gutter-inline);
    padding-right: var(--layout-gutter-inline);
    margin-left: auto;
    margin-right: auto;
  }
/* Flow */
.flow > * + * {
    margin-top: 1.5rem;
    margin-top: var(--flow-space, 1.5rem);
  }
/* Large gap before headings */
.flow h1, .flow h2, .flow h3, .flow h4, .flow :is(.heading:has(h1) + *) {
    --flow-space: var(--layout-space-lg);
  }
/* Medium gap if a heading follows a heading */
.flow :is(h1 + h2:not(.does-not-exist)) {
    --flow-space: var(--layout-space-md);
  }
.flow :is(h2 + h3:not(.does-not-exist)) {
    --flow-space: var(--layout-space-md);
  }
.flow :is(h3 + h4:not(.does-not-exist)) {
    --flow-space: var(--layout-space-md);
  }
.flow :is(.heading + h2) {
    --flow-space: var(--layout-space-md);
  }
.flow :is(.heading + h3) {
    --flow-space: var(--layout-space-md);
  }
.flow :is(.heading + h4) {
    --flow-space: var(--layout-space-md);
  }
/* Small gap directly after heading */
.flow :is(h2 + :not(.does-not-exist)) {
    --flow-space: var(--layout-space-sm);
  }
.flow :is(h3 + :not(.does-not-exist)) {
    --flow-space: var(--layout-space-sm);
  }
.flow :is(h4 + :not(.does-not-exist)) {
    --flow-space: var(--layout-space-sm);
  }
.flow :is(.heading + *) {
    --flow-space: var(--layout-space-sm);
  }
/* Group */
.group, .nav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--layout-space);
}
.group--min > * > *:first-child, .group--min > * > *:first-child > *:first-child {
      min-width: 144px;
      text-align: center;
    }
/* ----- Buttons ----- */
.btn {
  --padding-inline: var(--layout-space-sm);
  --padding-block: var(--layout-space-xs);

  --text-color: #fff;
  --bg-color: var(--color-500);
  --border-color: var(--color-500);
  --border-size: 0px;

  --text-color-hover: #fff;
  --bg-color-hover: var(--color-700);
  --border-color-hover: var(--color-700);

  display: inline-flex;
  gap: .25em;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  padding: var(--padding-block) var(--padding-inline);
  border: 0px solid rgb(1, 87, 255);
  border: var(--border-size) solid var(--border-color);
  background-color: rgb(1, 87, 255);
  background-color: var(--bg-color);
  transition: all .25s;

  color: #fff;

  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5;
  -webkit-text-decoration: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  position: relative;
  overflow: hidden;
}
.btn > span {
    position: relative;
    z-index: 1;

    display: inline-flex;
    gap: .25em;
    justify-content: center;
    align-items: center;  
  }
.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--bg-color-hover);
    scale: 0 1;
    transform-origin: 100% 50%;
    transition-property: scale;
    transition-duration: inherit;
    transition-timing-function: cubic-bezier(.215, .610, .355, 1);
    transition-timing-function: var(--ease-out-cubic);
  }
.btn:hover, .btn:focus, .btn.is-active, a:hover .btn {
    color: var(--text-color-hover);
    border-color: var(--border-color-hover);
  }
.btn:hover::after {
      scale: 1;
      transform-origin: 0 50%;
    }
.btn:focus::after {
      scale: 1;
      transform-origin: 0 50%;
    }
.btn.is-active::after {
      scale: 1;
      transform-origin: 0 50%;
    }
a:hover .btn::after {
      scale: 1;
      transform-origin: 0 50%;
    }
.btn:disabled {
    pointer-events: none;
    opacity: .75;
  }
.btn.disabled {
    pointer-events: none;
    opacity: .75;
  }
.btn .icon, .btn svg {
    pointer-events: none;
  }
.btn.btn--outline {
    --text-color: var(--color-500);
  }
.btn--white {
  --text-color: var(--color-500);
  --bg-color: var(--color-50);
  --border-color: #fff;

  --text-color-hover: var(--color-700);
  --bg-color-hover: #fff;
  --border-color-hover: #fff;
}
.btn--white.btn--outline {
    --text-color: #fff;
  }
.btn--green {
  --bg-color: var(--color-accent-500);
  --border-color: var(--color-accent-500);

  --bg-color-hover: var(--color-accent-700);
  --border-color-hover: var(--color-accent-700);
}
.btn--green.btn--outline {
    --text-color: var(--color-accent-700);
  }
.btn--outline, .btn--ghost {
  --bg-color: transparent;
  --border-size: 1px;
}
.btn--ghost {
  --text-color: #fff;
  --text-color-hover: var(--color-700);
  --bg-color-hover: #fff;
  --border-color-hover: #fff;
}
.btn--icon, .btn--round {
  --padding-inline: 1rem;
  --padding-block: 1rem;
}
.btn--round {
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}
.btn--icon-multi:not(.is-active) .icon use:last-child {
    opacity: 0;
  }
.btn--icon-multi.is-active .icon use:first-child {
    opacity: 0;
  }
.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: currentColor;
  transition: inherit;
}
.icon use {
    transition: inherit;
  }
a .icon, button .icon {
    pointer-events: none;
  }
/* ----- Header and footer ----- */
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  color: #fff;
  background-color: rgb(1, 87, 255);
  background-color: var(--color-500);
  border-bottom: 1px solid #fff;
}
@media (min-width: 768px) {
.header {
    min-height: 80px;
}
  }
.header .container {
    display: flex;
    gap: 16px;
    gap: var(--layout-space-sm);
    flex-wrap: wrap;
    align-items: center;
  }
.header a:not(.btn) {
    color: #fff;
    -webkit-text-decoration: none;
    text-decoration: none;
  }
.header a:not(.btn):hover, .header a:not(.btn):focus {
      color: rgb(223, 234, 255);
      color: color(display-p3 0.8822 0.91623 0.99269);
      color: var(--color-100);
    }
.logo-text {
    margin: 0;
    font-family: 'Source Code Pro', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Arial, sans-serif;
    font-family: var(--heading-font-family);
    color: #fff;

    font-size: 2.5rem; 
    font-size: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem);
  }
.header-nav {
    margin-left: auto;
  }
.header-nav:not(:has(.btn)) {
      row-gap: 0;
    }
@media (max-width: 575px) {
.header-nav {
      width: 100%;
  }
    }
.header-nav a:not(.btn) {
      position: relative;
      color: rgb(223, 234, 255);
      color: color(display-p3 0.8822 0.91623 0.99269);
      color: var(--color-100);
      text-transform: uppercase;
  
    }
.header-nav a:not(.btn)::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        transition: transform .2s ease-in-out;
  
        z-index: -1;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: 100% 50%;
        transition-timing-function: cubic-bezier(.65, .05, .36, 1);
        transition-timing-function: var(--ease-in-out-cubic);
      }
.header-nav a:not(.btn):hover, .header-nav a:not(.btn):focus, .header-nav a.is-active:not(.btn) {
        color: #fff;
      }
.header-nav a:not(.btn):hover::after {
          transform: scaleX(1);
          transform-origin: 0 50%;
        }
.header-nav a:not(.btn):focus::after {
          transform: scaleX(1);
          transform-origin: 0 50%;
        }
.header-nav a.is-active:not(.btn)::after {
          transform: scaleX(1);
          transform-origin: 0 50%;
        }
.footer {
    text-align: center;
  }
.footer .container > * {
    margin-top: var(--layout-space);
    padding-top: var(--layout-space);
    border-top: 2px solid rgb(1, 87, 255);
    border-top: 2px solid oklch(53.67% 0.257 262.51);
    border-top: 2px solid var(--color-500);
  }
.footer .group, .footer .nav {
      align-items: center;
      justify-content: center;
    }
@media (max-width: 575px) {
.footer .share-title {
        width: 100%;
    }
      }
.footer-nav {
      row-gap: 8px;
      row-gap: var(--layout-space-xs);
      font-size: .875rem;
    }
/* Page heading */
.page-intro {
  display: flex;
  gap: 32px;
  gap: var(--layout-space-md);
  align-items: center;
}
.page-heading {
    text-wrap: pretty;
  }
.page-intro-img {
    width: 80px;
    height: auto;
  }
@media (min-width: 576px) {
.columns-sm-2 {
      -moz-column-count: 2;
           column-count: 2;
      -moz-column-gap: 32px;
           column-gap: 32px;
      -moz-column-gap: var(--layout-space-md);
           column-gap: var(--layout-space-md);
  }
    }
.columns-sm-2 > * {
      page-break-inside: avoid;
      -moz-column-break-inside: avoid;
           break-inside: avoid;
      text-wrap: pretty;
    }
.demo--collapse .toggle {
    width: 100%;
  }
.demo--accordion .toggle-outer, .demo--tabs .toggle-outer {
    border-bottom: var(--toggle-border-width) solid var(--toggle-border-color);
  }
.demo--accordion .toggle {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
  }
.demo--accordion .toggle-text {
    margin: -.5em 0;
    margin-left: auto;
    font-size: 2rem;
  }
.demo--tabs .toggle-outer {
    display: flex;
  }
.demo--tabs .toggle {
    border: var(--toggle-border-width) solid var(--toggle-border-color);
    border-bottom: none;
  }
.demo--tabs .toggle:not(:last-child) {
    border-right: none;
  }
.demo--menu .toggle, .demo--dropdown .toggle {
    display: flex;
    align-items: center;
    gap: 8px;
  }
.demo--menu .toggle span, .demo--dropdown .toggle span {
      rotate: -90deg;
      scale: .5 1;
      margin: -.5em 0;
      margin-left: auto;
      font-size: 1.5rem;
      font-weight: 600;
      transition: all .35s ease-out;
    }
.demo--menu .toggle.is-active span, .demo--dropdown .toggle.is-active span {
        rotate: 90deg;
      }
.demo--menu .toggle-panel-content, .demo--dropdown .toggle-panel-content {
    border: var(--toggle-border-width) solid var(--toggle-border-color);
  }
.demo--dropdown .toggle-outer {
    display: inline-block;
  }
.demo--dropdown .toggle-panel {
      width: 100%;
    }
.demo--menu > .toggle-outer {
    display: flex;
    gap: var(--toggle-padding-sm);
    align-items: center;
    padding: var(--toggle-padding-sm);
    border: var(--toggle-border-width) solid var(--toggle-border-color);
  }
.demo--menu .toggle:last-child {
    margin-left: auto;
  }
@media (min-width: 992px) {
.demo--menu .toggle:last-child {
      display: none;
  }
    }
.demo--menu .menu a {
      display: block;
    }
@media (max-width: 991px) {
.demo--menu .menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      width: 100%;

      left: calc(var(--toggle-border-width) * -1);
      width: calc(100% + (var(--toggle-border-width) * 2));
      border: var(--toggle-border-width) solid var(--toggle-border-color);
      border-top: none;
  }
    }
@media (min-width: 992px) {
.demo--menu .menu {
      display: flex;
      gap: var(--toggle-padding-sm);
      height: auto;
      overflow: visible;
  }
    }
@media (max-width: 991px) {
.demo--menu .menu .toggle, .demo--menu .menu .toggle-panel  {
        width: 100%;
    }
      }
@media (max-width: 991px) {
.demo--menu .menu .toggle-panel-content {
          border: none;
      }
        }
@media (min-width: 992px) {
.demo--menu .menu .toggle-panel {
        width: -moz-max-content;
        width: max-content;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
    }
      }
.demo--dialog .toggle-dialog-content, .demo--modal .toggle-dialog-content, .demo--popover .toggle-dialog-content {
    padding: var(--toggle-padding-lg);
    border: var(--toggle-border-width) solid var(--toggle-border-color);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
  }
.demo--dialog .toggle-dialog > .toggle, .demo--modal .toggle-dialog > .toggle, .demo--popover .toggle-dialog > .toggle, .demo--dialog .toggle-dialog-content > .toggle, .demo--modal .toggle-dialog-content > .toggle, .demo--popover .toggle-dialog-content > .toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.375em;
    padding: var(--toggle-padding-xs) var(--toggle-padding-sm);
    aspect-ratio: 1;
    font-size: 2rem;
    background: none;
    z-index: 100;
  }
.demo--tooltip .toggle-tooltip {
    border: var(--toggle-border-width) solid var(--toggle-border-color);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  } 
/*# sourceMappingURL=main.css.map */