

.toggle {
}

.toggle-panel {
  --toggle-speed: 1.5s;

  // Closed
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: height var(--toggle-speed) ease-out, min-height var(--toggle-speed) ease-out, visibility var(--toggle-speed), flex var(--toggle-speed), opacity var(--toggle-speed);

  // Opening, Open, Closing
  &.is-active, &.is-anim {
    visibility: visible;
  }

  // Opening
  &.is-active.is-anim {
  }

  // Open
  &.is-active:not(.is-anim) {
    height: auto;
    overflow: visible;
  }

  // Closing
  &.is-anim:not(.is-active) {
  }
}



.toggle-panel--partial {
  height: .5em;
  visibility: visible;
}

.toggle-panel--opacity {
  opacity: 0;
  height: auto;

  &.is-active {
    opacity: 1;
  }
}

.toggle-panel--100h {
  min-height: 0;

  &.is-active {
    min-height: 100%;
  }
}

.toggle-panel--flex {
  &.is-active {
    flex-grow: 1;
  }
}

.toggle-panel--none {
  display: none;
  transition-duration: 0;

  &.is-active, &.is-anim {
    display: block;
  }
}

.toggle-panel--opacity--none {
  display: none;
  opacity: 0;
  height: auto;

  &.is-active {
    display: block;
    opacity: 1;
  }
}



// // Disable toggle based on screen size e.g. menu that becomes a drop down on small screens
// @include media-breakpoint-up(xl) {
//   .toggle-disable--xl {
//     .toggle {
//       display: none;
//     }

//     .toggle-panel {
//       height: auto;
//       visibility: visible;
//       overflow: visible;
//     }
//   }
// }


// // Overlays
// .toggle-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 10000;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   opacity: 0;
//   visibility: hidden;
//   display: none;
//   transition: opacity var(--toggle-speed), visibility var(--toggle-speed);
//   background: rgba(0, 0, 0, 0.75);

//   &.is-active {
//     opacity: 1;
//   }

//   &.is-active, &.is-anim {
//     display: block;
//     visibility: visible;
//   }

// }

//   .toggle-overlay-container {
//     position: relative;
//     width: auto;
//     padding: 15px;
//     max-width: 250px;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);

//     @include media-breakpoint-up(md) {
//       max-width: 500px;
//     }
//   }
